@use 'sass:color'

@import './vars.sass'
@import './flex.sass'
  
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lemon&family=Teko&display=swap')

html, body
  background-color: $BG-PRIMARY
  color: $TEXT-PRIMARY

  font-family: $FONT-DEFAULT

.text-centered
  text-align: center

.header
  font-size: $FONTSIZE-HEADER
  font-family: $FONT-HEADER

.sub-header
  color: $TEXT-SECONDARY
  max-width: 360px

.main-container
  margin-top: $MARGIN-CONTAINER

::placeholder
  color: $TEXT-GREY

.btn
  padding-top: 10px
  padding-bottom: 10px

  font-size: $FONTSIZE-BTN
  color: $TEXT-PRIMARY

  background-color: transparent
  border-radius: 5px

  cursor: pointer
  border-color: $BG-WHITE

  outline: none
  border: 1px solid

  transition: ease-in-out
  transition-duration: .2s

  &:hover
    background-color: $BG-WHITE
    color: $TEXT-BLACK

    border-color: $BG-WHITE

  // cyan variant
  &.btn-cyan
    border-color: $BG-CYAN
    color: $TEXT-PRIMARY 

    &:hover
      background-color: $BG-CYAN

  &.full-w
    width: 100%